{% load static %} {% block body %} {% include 'navigation.html' %}
<div class="container-fluid row">
  {% for app in applicants %}

  <div class="col-md-3 border container-fluid mt-4">
    <button
      type="button"
      class="btn btn-success btn-sm row justify-content-center"
    >
      Applicant No:
      <span class="badge badge-danger ml-2">{{forloop.counter}}</span>
    </button>
    <br />
    <br />
    <span>Applicant Name : </span><b class="float-right">{{app.name}}</b>
    <br />

    <span>Job Applied For : </span
    ><b class="float-right">{{app.applied_job}}</b>

    <br />
    <span>Skills : </span><b class="float-right">{{app.skills}}</b>

    <br />
    <span>Address : </span><b class="float-right">{{app.address}}</b>

    <br />
    <span>Mobile Contact : </span><b class="float-right">{{app.mobile}}</b>

    <br />
    <span>Cover Letter : </span><b class="float-right">{{app.coverletter}}</b>

    <br />
    <span>CV : </span><b class="float-right">{{app.cv}}</b>
  </div>

  {% endfor %}
</div>

{% endblock body %}
