{% load static %}

{% block body %}

{% include 'navigation.html' %}
<div class="container-fluid" style="margin-top: 1%;width: 94%; height: 80%;background-image: url(../static/images/back.jpg);">
    <!-- <img src="{% static 'images/back.jpg' %}" style="width: 94%; height: 80%;" class="ml-5"> -->

</div>

<section id="hero">
    <div class="hero containerr">
      <div>
        <h1>Are, <span></span></h1>
        <h1>You Looking <span></span></h1>
        <h1>For a Job? <span></span></h1>

        <h2>If so, you are at the right place...</h2>

        
     
      </div>
      
    </div>
    
  </section>










<div class="container" style="background-color: #EEE8AA;  margin-top: 1%;">
  <div class="mt-5"><br><br>
    <h1 class="text-center" style="color: orangered;">Our Placed Professionals and Experts</h1>
  </div>

    <div class="row mt-5">
        <div class="col-md-3 mr-5" style="margin-left: 7%;">
            <div class="card" style="width: 18rem;border-radius: 20px;">
                <img class="card-img-top img-thumbnail"  src="{% static 'images/job1.jpg' %}" alt="Card image cap"
                style="height: 300px;width: 290px;">
                <div class="card-body">
                  <h5 class="card-title">Mr. Kenneth Adewole.</h5>
                  <p class="card-text">Working as a Data Scientist in European Union in Brussels.</p>
                  <span style=" font-weight: bold; font-size: 30px;padding-left: 17%;">
                    
                    <span><i class="fab fa-facebook" style="color: blue;"></i></i></span>
                    <span><i class="fab fa-twitter" style="color: #33ACFF;"></i></span>
                    <span><i class="fab fa-instagram" style="color: #F0365A;"></i></span>
                    <span><i class="fab fa-linkedin" style="color: #0A32C8;"></i></span>
                </span>
                </div>
              </div>
        </div>


        <div class="col-md-3 mr-5">
            <div class="card" style="width: 18rem;border-radius: 20px;">
                <img class="card-img-top img-thumbnail" style="height: 300px;width: 290px;"  src="{% static 'images/asad.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Mr. Elias Ojetunde</h5>
                  <p class="card-text">Working as a Full Stack Developer at Samsung in Paris</p>
                  <span style=" font-weight: bold; font-size: 30px;padding-left: 17%;">
                    
                    <span><i class="fab fa-facebook" style="color: blue;"></i></i></span>
                    <span><i class="fab fa-twitter" style="color: #33ACFF;"></i></span>
                    <span><i class="fab fa-instagram" style="color: #F0365A;"></i></span>
                    <span><i class="fab fa-linkedin" style="color: #0A32C8;"></i></span>
                </span>
                </div>
              </div>
        </div>


        <div class="col-md-3">
            <div class="card" style="width: 18rem;border-radius: 20px;">
                <img class="card-img-top img-thumbnail" style="width: 290px;height: 300px;"  src="{% static 'images/sabir.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Mr. Sabir Shah</h5>
                  <p class="card-text">Working as a Frontend Developer at Cambridge University, UK.</p>
                  <span style=" font-weight: bold; font-size: 30px;padding-left: 17%;">
                    
                    <span><i class="fab fa-facebook" style="color: blue;"></i></i></span>
                    <span><i class="fab fa-twitter" style="color: #33ACFF;"></i></span>
                    <span><i class="fab fa-instagram" style="color: #F0365A;"></i></span>
                    <span><i class="fab fa-linkedin" style="color: #0A32C8;"></i></span>
                </span>
                </div>
              </div>
        </div>


     
    </div>

    <div class="row mt-5">
        <div class="col-md-3 mr-5 mb-5" style="margin-left: 7%;">
            <div class="card" style="width: 18rem;border-radius: 20px;">
                <img class="card-img-top img-thumbnail" style="height: 300px;width: 290px;"  src="{% static 'images/shariq.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Mr. Olubayo Babatunde </h5>
                  <p class="card-text">Working as a Renewable Energy expert at World Bank in Switzerland</p>
                  <span style=" font-weight: bold; font-size: 30px;padding-left: 17%;">
                    
                    <span><i class="fab fa-facebook" style="color: blue;"></i></i></span>
                    <span><i class="fab fa-twitter" style="color: #33ACFF;"></i></span>
                    <span><i class="fab fa-instagram" style="color: #F0365A;"></i></span>
                    <span><i class="fab fa-linkedin" style="color: #0A32C8;"></i></span>
                </span>
                </div>
              </div>
        </div>


        <div class="col-md-3 mr-5">
            <div class="card" style="width: 18rem;border-radius: 20px;">
                <img class="card-img-top img-thumbnail" style="height: 300px;width: 290px;"  src="{% static 'images/oluwaseun.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Mr. Oluwaseun Alade</h5>
                  <p class="card-text">Working as a Research Expert at Nokia in Berlin</p>
                  <span style=" font-weight: bold; font-size: 30px;padding-left: 17%;">
                    
                    <span><i class="fab fa-facebook" style="color: blue;"></i></i></span>
                    <span><i class="fab fa-twitter" style="color: #33ACFF;"></i></span>
                    <span><i class="fab fa-instagram" style="color: #F0365A;"></i></span>
                    <span><i class="fab fa-linkedin" style="color: #0A32C8;"></i></span>
                </span>
                </div>
              </div>
        </div>


        <div class="col-md-3">
            <div class="card" style="width: 18rem;border-radius: 20px;">
                <img class="card-img-top img-thumbnail" style="height: 300px;width: 290px;"  src="{% static 'images/smith.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Mr. Oyeade Oyebode</h5>
                  <p class="card-text">Working as a Data Analyst at Amazon in Netherlands</p>
                  <span style=" font-weight: bold; font-size: 30px;padding-left: 17%;">
                    
                    <span><i class="fab fa-facebook" style="color: blue;"></i></i></span>
                    <span><i class="fab fa-twitter" style="color: #33ACFF;"></i></span>
                    <span><i class="fab fa-instagram" style="color: #F0365A;"></i></span>
                    <span><i class="fab fa-linkedin" style="color: #0A32C8;"></i></span>
                </span>
                </div>
              </div>
        </div>


     
    </div>

    


</div>

<div class="my-4">
  {% include 'footer.html' %}
</div>
{% endblock body %}