{% load static %} {% block body %} {% include 'navigation.html' %}

<div class="col-sm-6 offset-sm-3 mt-5">
  <form method="POST" class="shadow p-5">
    {% csrf_token %}
    <div class="mb-3" style="height: 70px; background-color: #eee8aa">
      <h1 class="text-center" style="padding-top: 10px; color: orangered">
        Recruiter Login
      </h1>
    </div>
    <lable>Email</lable>
    <input
      name="email"
      class="form-control"
      placeholder="Enter Email"
      type="email"
    />
    <br />
    <lable>Password</lable>
    <input
      name="password"
      class="form-control"
      placeholder="Enter Password"
      type="password"
    />

    <div class="mt-5 login">
      <input
        type="submit"
        class="btn btn-danger"
        value="Login"
        style="background-color: orangered"
      />
      <a href="{% url 'recruiter_signup' %}">&nbsp;&nbsp; Create an Account</a>
    </div>
  </form>
</div>
<div class="my-4">
  {% include 'footer.html' %} {% if error == "no" %}
  <script>
    alert("Login Successfully")
    window.location=('{% url 'recruiter_home' %}')
  </script>
  {% endif %} {% if error == "yes" %}
  <script>
    alert("Something went wrong ! ");
  </script>
  {% endif %} {% if error == "not" %}
  <script>
    alert("Login status is still in Pending ! ");
  </script>
  {% endif %}
</div>

{% endblock body %}
